html, body {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
            transition: all 0.3s;
}